.list {
  list-style-type: none;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: solid;
  background-color: #454f84;
  height: 15%;
  width: 25%;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.img-logo {
  width: 25px;
  height: 25px;
}
.star-image {
  width: 70%;
  height: 25%;
}
